/* line 2, ../../app/stylesheets/buttons.sass */
.buttons a, .buttons button {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  background: #EAEAEA url(/images/buttongradient.png) repeat-x scroll left top;
  border-color: #bdbdbd #9b9a9a #9b9a9a #bdbdbd;
  border-style: solid;
  border-width: 1px;
  color: #464646;
  cursor: pointer;
  display: block;
  float: left;
  font-weight: bold;
  font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
  font-size: 82%;
  line-height: 130%;
  margin: 0 0.7em 0 0;
  padding: 5px 10px 6px;
  text-decoration: none; }

/* line 31, ../../app/stylesheets/buttons.sass */
a.button, button.button {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  background: #EAEAEA url(/images/buttongradient.png) repeat-x scroll left top;
  border-color: #bdbdbd #9b9a9a #9b9a9a #bdbdbd;
  border-style: solid;
  border-width: 1px;
  color: #464646;
  cursor: pointer;
  display: block;
  float: left;
  font-weight: bold;
  font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
  font-size: 82%;
  line-height: 130%;
  margin: 0 0.7em 0 0;
  padding: 5px 10px 6px;
  text-decoration: none; }

/* line 60, ../../app/stylesheets/buttons.sass */
a.button, button.button {
  display: inline-block;
  float: none; }

/* line 66, ../../app/stylesheets/buttons.sass */
.button.small, .buttons.small {
  font-size: 75% !important; }
/* line 68, ../../app/stylesheets/buttons.sass */
.button.right, .buttons.right {
  float: right;
  margin-right: 0px; }

/* line 72, ../../app/stylesheets/buttons.sass */
.buttons button, button.button {
  overflow: visible;
  padding: 4px 10px 3px 7px;
  width: auto; }

/* line 77, ../../app/stylesheets/buttons.sass */
.buttons button[type], button.button[type] {
  line-height: 17px;
  padding: 5px 10px 5px 7px;
  width: auto; }

/* line 83, ../../app/stylesheets/buttons.sass */
.chrome .buttons button, .chrome button.button {
  padding: 4px 10px 4px 7px; }

/* line 87, ../../app/stylesheets/buttons.sass */
.buttons button img, .buttons a img {
  margin: 0 0px -3px 0 !important; }

/* line 90, ../../app/stylesheets/buttons.sass */
a.button img, button.button img {
  margin: 0 3px -3px 0 !important; }

/* line 94, ../../app/stylesheets/buttons.sass */
.buttons button:hover, .buttons a:hover {
  border: 1px solid #999999;
  color: #000000; }

/* line 98, ../../app/stylesheets/buttons.sass */
a.button:hover {
  border: 1px solid #999999;
  color: #000000; }

/* line 103, ../../app/stylesheets/buttons.sass */
button.button:hover {
  border: 1px solid #999999;
  color: #000000; }
/* line 107, ../../app/stylesheets/buttons.sass */
button.active {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FFFFFF url(/images/buttongradient.png) repeat-x scroll left top;
  border-color: #CCCCCC; }

/* line 117, ../../app/stylesheets/buttons.sass */
.buttons a:active, a.button:active {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #FFFFFF url(/images/buttongradient.png) repeat-x scroll left top;
  border-color: #CCCCCC; }

/* line 127, ../../app/stylesheets/buttons.sass */
button.positive {
  color: #2e600d;
  font-weight: bold; }

/* line 131, ../../app/stylesheets/buttons.sass */
a.positive {
  color: #3f710d;
  font-weight: bold; }
  /* line 134, ../../app/stylesheets/buttons.sass */
  a.positive:hover {
    color: #232323; }

/* line 137, ../../app/stylesheets/buttons.sass */
a.positive:active {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #719a48 none repeat scroll 0 0;
  border: 1px solid #719a48;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #607710; }
/* line 146, ../../app/stylesheets/buttons.sass */
a.negative {
  color: #D12F19; }

/* line 149, ../../app/stylesheets/buttons.sass */
a.negative:hover, button.negative:hover {
  color: #D12F19; }

/* line 152, ../../app/stylesheets/buttons.sass */
a.negative:active {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #D12F19 none repeat scroll 0 0;
  border: 1px solid #D12F19;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #A93816; }

/* line 161, ../../app/stylesheets/buttons.sass */
button.positive:hover {
  color: #232323; }

/* line 164, ../../app/stylesheets/buttons.sass */
button.negative {
  color: #D12F19; }

/* line 168, ../../app/stylesheets/buttons.sass */
#cancel .buttons {
  width: 150px;
  margin-left: 40px; }

/* line 175, ../../app/stylesheets/buttons.sass */
* html .buttons button[type], * html button.button[type] {
  margin-bottom: 1px;
  padding: 4px 10px 3px 7px; }
/* line 179, ../../app/stylesheets/buttons.sass */
* html button.button {
  margin-bottom: 1px; }

/* line 182, ../../app/stylesheets/buttons.sass */
.icon {
  height: 16px;
  width: 16px; }
