/* line 64, ../../app/stylesheets/grid.sass */
.grid-12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  /* line 25, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-1, .grid-12 .cols-2, .grid-12 .cols-3, .grid-12 .cols-4, .grid-12 .cols-5, .grid-12 .cols-6, .grid-12 .cols-7, .grid-12 .cols-8, .grid-12 .cols-9, .grid-12 .cols-10, .grid-12 .cols-11, .grid-12 .cols-12 {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-1 {
    width: 60px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-2 {
    width: 140px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-3 {
    width: 220px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-4 {
    width: 300px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-5 {
    width: 380px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-6 {
    width: 460px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-7 {
    width: 540px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-8 {
    width: 620px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-9 {
    width: 700px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-10 {
    width: 780px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-11 {
    width: 860px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  .grid-12 .cols-12 {
    width: 940px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-1 {
    padding-left: 80px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-2 {
    padding-left: 160px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-3 {
    padding-left: 240px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-4 {
    padding-left: 320px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-5 {
    padding-left: 400px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-6 {
    padding-left: 480px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-7 {
    padding-left: 560px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-8 {
    padding-left: 640px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-9 {
    padding-left: 720px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-10 {
    padding-left: 800px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  .grid-12 .prefix-11 {
    padding-left: 880px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-1 {
    padding-right: 80px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-2 {
    padding-right: 160px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-3 {
    padding-right: 240px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-4 {
    padding-right: 320px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-5 {
    padding-right: 400px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-6 {
    padding-right: 480px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-7 {
    padding-right: 560px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-8 {
    padding-right: 640px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-9 {
    padding-right: 720px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-10 {
    padding-right: 800px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  .grid-12 .suffix-11 {
    padding-right: 880px; }

/* line 67, ../../app/stylesheets/grid.sass */
#main {
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 760px;
  margin-left: 0; }

/* line 71, ../../app/stylesheets/grid.sass */
#sidebar {
  width: 165px;
  float: right;
  margin-left: 15px;
  margin-right: 0; }

/* line 77, ../../app/stylesheets/grid.sass */
#admin #main {
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 700px;
  margin-left: 0; }

/* line 81, ../../app/stylesheets/grid.sass */
#admin #sidebar {
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 220px;
  margin-right: 0; }

/* line 85, ../../app/stylesheets/grid.sass */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* line 89, ../../app/stylesheets/grid.sass */
#sidebar #plans {
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 220px;
  margin: 0px; }

/* line 92, ../../app/stylesheets/grid.sass */
#plans {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  /* line 25, ../../app/stylesheets/grid.sass */
  #plans .cols-1, #plans .cols-2, #plans .cols-3, #plans .cols-4, #plans .cols-5, #plans .cols-6, #plans .cols-7, #plans .cols-8, #plans .cols-9, #plans .cols-10, #plans .cols-11, #plans .cols-12 {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-1 {
    width: 60px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-2 {
    width: 140px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-3 {
    width: 220px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-4 {
    width: 300px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-5 {
    width: 380px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-6 {
    width: 460px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-7 {
    width: 540px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-8 {
    width: 620px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-9 {
    width: 700px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-10 {
    width: 780px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-11 {
    width: 860px; }
  /* line 28, ../../app/stylesheets/grid.sass */
  #plans .cols-12 {
    width: 940px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-1 {
    padding-left: 80px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-2 {
    padding-left: 160px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-3 {
    padding-left: 240px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-4 {
    padding-left: 320px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-5 {
    padding-left: 400px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-6 {
    padding-left: 480px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-7 {
    padding-left: 560px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-8 {
    padding-left: 640px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-9 {
    padding-left: 720px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-10 {
    padding-left: 800px; }
  /* line 36, ../../app/stylesheets/grid.sass */
  #plans .prefix-11 {
    padding-left: 880px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-1 {
    padding-right: 80px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-2 {
    padding-right: 160px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-3 {
    padding-right: 240px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-4 {
    padding-right: 320px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-5 {
    padding-right: 400px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-6 {
    padding-right: 480px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-7 {
    padding-right: 560px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-8 {
    padding-right: 640px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-9 {
    padding-right: 720px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-10 {
    padding-right: 800px; }
  /* line 44, ../../app/stylesheets/grid.sass */
  #plans .suffix-11 {
    padding-right: 880px; }
  /* line 94, ../../app/stylesheets/grid.sass */
  #plans #one {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    margin-left: 0;
    margin-right: 15px; }
  /* line 98, ../../app/stylesheets/grid.sass */
  #plans #two {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px; }
  /* line 102, ../../app/stylesheets/grid.sass */
  #plans #three {
    display: inline;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    margin-left: 15px;
    margin-right: 0; }

/* line 107, ../../app/stylesheets/grid.sass */
.value {
  width: 580px;
  margin: 0px;
  float: left; }

/* line 109, ../../app/stylesheets/grid.sass */
.cost {
  width: 90px;
  margin: 0px;
  float: left;
  text-align: center; }
