@media (min-width: 1200px) {
  /* line 7, ../../app/assets/stylesheets/media.css.scss */
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }

  /* line 13, ../../app/assets/stylesheets/media.css.scss */
  .row {
    margin-left: -20px;
    *zoom: 1;
  }

  /* line 18, ../../app/assets/stylesheets/media.css.scss */
  .row:before,
  .row:after {
    display: table;
    content: "";
  }

  /* line 22, ../../app/assets/stylesheets/media.css.scss */
  .row:after {
    clear: both;
  }

  /* line 25, ../../app/assets/stylesheets/media.css.scss */
  [class*="span"] {
    float: left;
    margin-left: 20px;
  }

  /* line 31, ../../app/assets/stylesheets/media.css.scss */
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px;
  }

  /* line 34, ../../app/assets/stylesheets/media.css.scss */
  .span12 {
    width: 940px;
  }

  /* line 37, ../../app/assets/stylesheets/media.css.scss */
  .span11 {
    width: 860px;
  }

  /* line 40, ../../app/assets/stylesheets/media.css.scss */
  .span10 {
    width: 780px;
  }

  /* line 43, ../../app/assets/stylesheets/media.css.scss */
  .span9 {
    width: 700px;
  }

  /* line 46, ../../app/assets/stylesheets/media.css.scss */
  .span8 {
    width: 620px;
  }

  /* line 49, ../../app/assets/stylesheets/media.css.scss */
  .span7 {
    width: 540px;
  }

  /* line 52, ../../app/assets/stylesheets/media.css.scss */
  .span6 {
    width: 460px;
  }

  /* line 55, ../../app/assets/stylesheets/media.css.scss */
  .span5 {
    width: 380px;
  }

  /* line 58, ../../app/assets/stylesheets/media.css.scss */
  .span4 {
    width: 300px;
  }

  /* line 61, ../../app/assets/stylesheets/media.css.scss */
  .span3 {
    width: 220px;
  }

  /* line 64, ../../app/assets/stylesheets/media.css.scss */
  .span2 {
    width: 140px;
  }

  /* line 67, ../../app/assets/stylesheets/media.css.scss */
  .span1 {
    width: 60px;
  }

  /* line 70, ../../app/assets/stylesheets/media.css.scss */
  .offset12 {
    margin-left: 980px;
  }

  /* line 73, ../../app/assets/stylesheets/media.css.scss */
  .offset11 {
    margin-left: 900px;
  }

  /* line 76, ../../app/assets/stylesheets/media.css.scss */
  .offset10 {
    margin-left: 820px;
  }

  /* line 79, ../../app/assets/stylesheets/media.css.scss */
  .offset9 {
    margin-left: 740px;
  }

  /* line 82, ../../app/assets/stylesheets/media.css.scss */
  .offset8 {
    margin-left: 660px;
  }

  /* line 85, ../../app/assets/stylesheets/media.css.scss */
  .offset7 {
    margin-left: 580px;
  }

  /* line 88, ../../app/assets/stylesheets/media.css.scss */
  .offset6 {
    margin-left: 500px;
  }

  /* line 91, ../../app/assets/stylesheets/media.css.scss */
  .offset5 {
    margin-left: 420px;
  }

  /* line 94, ../../app/assets/stylesheets/media.css.scss */
  .offset4 {
    margin-left: 340px;
  }

  /* line 97, ../../app/assets/stylesheets/media.css.scss */
  .offset3 {
    margin-left: 260px;
  }

  /* line 100, ../../app/assets/stylesheets/media.css.scss */
  .offset2 {
    margin-left: 180px;
  }

  /* line 103, ../../app/assets/stylesheets/media.css.scss */
  .offset1 {
    margin-left: 100px;
  }

  /* line 106, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  /* line 111, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
  }

  /* line 115, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid:after {
    clear: both;
  }

  /* line 118, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.127659574%;
  }

  /* line 122, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > [class*="span"]:first-child {
    margin-left: 0;
  }

  /* line 125, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span12 {
    width: 99.99999998999999%;
  }

  /* line 128, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span11 {
    width: 91.489361693%;
  }

  /* line 131, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span10 {
    width: 82.97872339599999%;
  }

  /* line 134, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span9 {
    width: 74.468085099%;
  }

  /* line 137, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span8 {
    width: 65.95744680199999%;
  }

  /* line 140, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span7 {
    width: 57.446808505%;
  }

  /* line 143, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span6 {
    width: 48.93617020799999%;
  }

  /* line 146, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span5 {
    width: 40.425531911%;
  }

  /* line 149, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span4 {
    width: 31.914893614%;
  }

  /* line 152, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span3 {
    width: 23.404255317%;
  }

  /* line 155, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span2 {
    width: 14.89361702%;
  }

  /* line 158, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span1 {
    width: 6.382978723%;
  }

  /* line 161, ../../app/assets/stylesheets/media.css.scss */
  .container {
    margin-left: auto;
    margin-right: auto;
    *zoom: 1;
  }

  /* line 167, ../../app/assets/stylesheets/media.css.scss */
  .container:before,
  .container:after {
    display: table;
    content: "";
  }

  /* line 171, ../../app/assets/stylesheets/media.css.scss */
  .container:after {
    clear: both;
  }

  /* line 174, ../../app/assets/stylesheets/media.css.scss */
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    *zoom: 1;
  }

  /* line 180, ../../app/assets/stylesheets/media.css.scss */
  .container-fluid:before,
  .container-fluid:after {
    display: table;
    content: "";
  }

  /* line 184, ../../app/assets/stylesheets/media.css.scss */
  .container-fluid:after {
    clear: both;
  }

  /* line 189, ../../app/assets/stylesheets/media.css.scss */
  .hidden {
    display: none;
    visibility: hidden;
  }

  /* line 193, ../../app/assets/stylesheets/media.css.scss */
  .visible-phone {
    display: none;
  }

  /* line 196, ../../app/assets/stylesheets/media.css.scss */
  .visible-tablet {
    display: none;
  }

  /* line 199, ../../app/assets/stylesheets/media.css.scss */
  .visible-desktop {
    display: block;
  }

  /* line 202, ../../app/assets/stylesheets/media.css.scss */
  .hidden-phone {
    display: block;
  }

  /* line 205, ../../app/assets/stylesheets/media.css.scss */
  .hidden-tablet {
    display: block;
  }

  /* line 208, ../../app/assets/stylesheets/media.css.scss */
  .hidden-desktop {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 215, ../../app/assets/stylesheets/media.css.scss */
  .visible-phone {
    display: block;
  }

  /* line 218, ../../app/assets/stylesheets/media.css.scss */
  .hidden-phone {
    display: none;
  }

  /* line 221, ../../app/assets/stylesheets/media.css.scss */
  .hidden-desktop {
    display: block;
  }

  /* line 224, ../../app/assets/stylesheets/media.css.scss */
  .visible-desktop {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 229, ../../app/assets/stylesheets/media.css.scss */
  .visible-tablet {
    display: block;
  }

  /* line 232, ../../app/assets/stylesheets/media.css.scss */
  .hidden-tablet {
    display: none;
  }

  /* line 235, ../../app/assets/stylesheets/media.css.scss */
  .hidden-desktop {
    display: block;
  }

  /* line 238, ../../app/assets/stylesheets/media.css.scss */
  .visible-desktop {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 243, ../../app/assets/stylesheets/media.css.scss */
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 246, ../../app/assets/stylesheets/media.css.scss */
  .page-header h1 small {
    display: block;
    line-height: 18px;
  }

  /* line 251, ../../app/assets/stylesheets/media.css.scss */
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

  /* line 254, ../../app/assets/stylesheets/media.css.scss */
  .form-horizontal .control-group > label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }

  /* line 260, ../../app/assets/stylesheets/media.css.scss */
  .form-horizontal .controls {
    margin-left: 0;
  }

  /* line 263, ../../app/assets/stylesheets/media.css.scss */
  .form-horizontal .control-list {
    padding-top: 0;
  }

  /* line 266, ../../app/assets/stylesheets/media.css.scss */
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 270, ../../app/assets/stylesheets/media.css.scss */
  .modal {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
  }

  /* line 278, ../../app/assets/stylesheets/media.css.scss */
  .modal.fade.in {
    top: auto;
  }

  /* line 281, ../../app/assets/stylesheets/media.css.scss */
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }

  /* line 285, ../../app/assets/stylesheets/media.css.scss */
  .carousel-caption {
    position: static;
  }
}
@media (max-width: 767px) {
  /* line 290, ../../app/assets/stylesheets/media.css.scss */
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 294, ../../app/assets/stylesheets/media.css.scss */
  .navbar-fixed-top {
    margin-left: -20px;
    margin-right: -20px;
  }

  /* line 298, ../../app/assets/stylesheets/media.css.scss */
  .container {
    width: auto;
  }

  /* line 301, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid {
    width: 100%;
  }

  /* line 304, ../../app/assets/stylesheets/media.css.scss */
  .row {
    margin-left: 0;
  }

  /* line 308, ../../app/assets/stylesheets/media.css.scss */
  .row > [class*="span"],
  .row-fluid > [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin: 0;
  }

  /* line 314, ../../app/assets/stylesheets/media.css.scss */
  .thumbnails [class*="span"] {
    width: auto;
  }

  /* line 320, ../../app/assets/stylesheets/media.css.scss */
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 28px;
    /* Make inputs at least the height of their button counterpart */
    /* Makes inputs behave like true block-level elements */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 334, ../../app/assets/stylesheets/media.css.scss */
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 339, ../../app/assets/stylesheets/media.css.scss */
  .row {
    margin-left: -20px;
    *zoom: 1;
  }

  /* line 344, ../../app/assets/stylesheets/media.css.scss */
  .row:before,
  .row:after {
    display: table;
    content: "";
  }

  /* line 348, ../../app/assets/stylesheets/media.css.scss */
  .row:after {
    clear: both;
  }

  /* line 351, ../../app/assets/stylesheets/media.css.scss */
  [class*="span"] {
    float: left;
    margin-left: 20px;
  }

  /* line 357, ../../app/assets/stylesheets/media.css.scss */
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }

  /* line 360, ../../app/assets/stylesheets/media.css.scss */
  .span12 {
    width: 724px;
  }

  /* line 363, ../../app/assets/stylesheets/media.css.scss */
  .span11 {
    width: 662px;
  }

  /* line 366, ../../app/assets/stylesheets/media.css.scss */
  .span10 {
    width: 600px;
  }

  /* line 369, ../../app/assets/stylesheets/media.css.scss */
  .span9 {
    width: 538px;
  }

  /* line 372, ../../app/assets/stylesheets/media.css.scss */
  .span8 {
    width: 476px;
  }

  /* line 375, ../../app/assets/stylesheets/media.css.scss */
  .span7 {
    width: 414px;
  }

  /* line 378, ../../app/assets/stylesheets/media.css.scss */
  .span6 {
    width: 352px;
  }

  /* line 381, ../../app/assets/stylesheets/media.css.scss */
  .span5 {
    width: 290px;
  }

  /* line 384, ../../app/assets/stylesheets/media.css.scss */
  .span4 {
    width: 228px;
  }

  /* line 387, ../../app/assets/stylesheets/media.css.scss */
  .span3 {
    width: 166px;
  }

  /* line 390, ../../app/assets/stylesheets/media.css.scss */
  .span2 {
    width: 104px;
  }

  /* line 393, ../../app/assets/stylesheets/media.css.scss */
  .span1 {
    width: 42px;
  }

  /* line 396, ../../app/assets/stylesheets/media.css.scss */
  .offset12 {
    margin-left: 764px;
  }

  /* line 399, ../../app/assets/stylesheets/media.css.scss */
  .offset11 {
    margin-left: 702px;
  }

  /* line 402, ../../app/assets/stylesheets/media.css.scss */
  .offset10 {
    margin-left: 640px;
  }

  /* line 405, ../../app/assets/stylesheets/media.css.scss */
  .offset9 {
    margin-left: 578px;
  }

  /* line 408, ../../app/assets/stylesheets/media.css.scss */
  .offset8 {
    margin-left: 516px;
  }

  /* line 411, ../../app/assets/stylesheets/media.css.scss */
  .offset7 {
    margin-left: 454px;
  }

  /* line 414, ../../app/assets/stylesheets/media.css.scss */
  .offset6 {
    margin-left: 392px;
  }

  /* line 417, ../../app/assets/stylesheets/media.css.scss */
  .offset5 {
    margin-left: 330px;
  }

  /* line 420, ../../app/assets/stylesheets/media.css.scss */
  .offset4 {
    margin-left: 268px;
  }

  /* line 423, ../../app/assets/stylesheets/media.css.scss */
  .offset3 {
    margin-left: 206px;
  }

  /* line 426, ../../app/assets/stylesheets/media.css.scss */
  .offset2 {
    margin-left: 144px;
  }

  /* line 429, ../../app/assets/stylesheets/media.css.scss */
  .offset1 {
    margin-left: 82px;
  }

  /* line 432, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }

  /* line 437, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
  }

  /* line 441, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid:after {
    clear: both;
  }

  /* line 444, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.762430939%;
  }

  /* line 448, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > [class*="span"]:first-child {
    margin-left: 0;
  }

  /* line 451, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span12 {
    width: 99.999999993%;
  }

  /* line 454, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span11 {
    width: 91.436464082%;
  }

  /* line 457, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span10 {
    width: 82.87292817100001%;
  }

  /* line 460, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span9 {
    width: 74.30939226%;
  }

  /* line 463, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span8 {
    width: 65.74585634900001%;
  }

  /* line 466, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span7 {
    width: 57.182320438000005%;
  }

  /* line 469, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span6 {
    width: 48.618784527%;
  }

  /* line 472, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span5 {
    width: 40.055248616%;
  }

  /* line 475, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span4 {
    width: 31.491712705%;
  }

  /* line 478, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span3 {
    width: 22.928176794%;
  }

  /* line 481, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span2 {
    width: 14.364640883%;
  }

  /* line 484, ../../app/assets/stylesheets/media.css.scss */
  .row-fluid > .span1 {
    width: 5.801104972%;
  }

  /* line 489, ../../app/assets/stylesheets/media.css.scss */
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }

  /* line 492, ../../app/assets/stylesheets/media.css.scss */
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 714px;
  }

  /* line 495, ../../app/assets/stylesheets/media.css.scss */
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 652px;
  }

  /* line 498, ../../app/assets/stylesheets/media.css.scss */
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 590px;
  }

  /* line 501, ../../app/assets/stylesheets/media.css.scss */
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 528px;
  }

  /* line 504, ../../app/assets/stylesheets/media.css.scss */
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 466px;
  }

  /* line 507, ../../app/assets/stylesheets/media.css.scss */
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 404px;
  }

  /* line 510, ../../app/assets/stylesheets/media.css.scss */
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 342px;
  }

  /* line 513, ../../app/assets/stylesheets/media.css.scss */
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 280px;
  }

  /* line 516, ../../app/assets/stylesheets/media.css.scss */
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 218px;
  }

  /* line 519, ../../app/assets/stylesheets/media.css.scss */
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 156px;
  }

  /* line 522, ../../app/assets/stylesheets/media.css.scss */
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 94px;
  }

  /* line 525, ../../app/assets/stylesheets/media.css.scss */
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 32px;
  }
}
@media (max-width: 979px) {
  /* line 530, ../../app/assets/stylesheets/media.css.scss */
  body {
    padding-top: 0;
  }

  /* line 533, ../../app/assets/stylesheets/media.css.scss */
  .navbar-fixed-top {
    position: static;
    margin-bottom: 18px;
  }

  /* line 537, ../../app/assets/stylesheets/media.css.scss */
  .navbar-fixed-top .navbar-inner {
    padding: 5px;
  }

  /* line 540, ../../app/assets/stylesheets/media.css.scss */
  .navbar .container {
    width: auto;
    padding: 0;
  }

  /* line 544, ../../app/assets/stylesheets/media.css.scss */
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }

  /* line 549, ../../app/assets/stylesheets/media.css.scss */
  .navbar .nav-collapse {
    clear: left;
  }

  /* line 552, ../../app/assets/stylesheets/media.css.scss */
  .navbar .nav {
    float: none;
    margin: 0 0 9px;
  }

  /* line 556, ../../app/assets/stylesheets/media.css.scss */
  .navbar .nav > li {
    float: none;
  }

  /* line 559, ../../app/assets/stylesheets/media.css.scss */
  .navbar .nav > li > a {
    margin-bottom: 2px;
  }

  /* line 562, ../../app/assets/stylesheets/media.css.scss */
  .navbar .nav > .divider-vertical {
    display: none;
  }

  /* line 565, ../../app/assets/stylesheets/media.css.scss */
  .navbar .nav .nav-header {
    color: #999999;
    text-shadow: none;
  }

  /* line 570, ../../app/assets/stylesheets/media.css.scss */
  .navbar .nav > li > a,
  .navbar .dropdown-menu a {
    padding: 6px 15px;
    font-weight: bold;
    color: #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  /* line 578, ../../app/assets/stylesheets/media.css.scss */
  .navbar .dropdown-menu li + li a {
    margin-bottom: 2px;
  }

  /* line 582, ../../app/assets/stylesheets/media.css.scss */
  .navbar .nav > li > a:hover,
  .navbar .dropdown-menu a:hover {
    background-color: #222222;
  }

  /* line 585, ../../app/assets/stylesheets/media.css.scss */
  .navbar .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 604, ../../app/assets/stylesheets/media.css.scss */
  .navbar .dropdown-menu:before,
  .navbar .dropdown-menu:after {
    display: none;
  }

  /* line 607, ../../app/assets/stylesheets/media.css.scss */
  .navbar .dropdown-menu .divider {
    display: none;
  }

  /* line 611, ../../app/assets/stylesheets/media.css.scss */
  .navbar-form,
  .navbar-search {
    float: none;
    padding: 9px 15px;
    margin: 9px 0;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 621, ../../app/assets/stylesheets/media.css.scss */
  .navbar .nav.pull-right {
    float: none;
    margin-left: 0;
  }

  /* line 625, ../../app/assets/stylesheets/media.css.scss */
  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 629, ../../app/assets/stylesheets/media.css.scss */
  .btn-navbar {
    display: block;
  }

  /* line 632, ../../app/assets/stylesheets/media.css.scss */
  .nav-collapse {
    overflow: hidden;
    height: 0;
  }
}
