/* line 36, ../../app/assets/stylesheets/pages.css.scss */
body {
  border: 12px solid #d8e8cb;
  background: white url("/images/mascot.png") no-repeat center 103%;
}

/* line 40, ../../app/assets/stylesheets/pages.css.scss */
h1, h2, h3, h4, h5 {
  font-family: "adelle", helvetica, sans-serif;
  font-weight: 300;
}

/* line 45, ../../app/assets/stylesheets/pages.css.scss */
p, ul, ol, form {
  font-family: "adelle", helvetica, sans-serif;
}

/* line 48, ../../app/assets/stylesheets/pages.css.scss */
p {
  font-size: 16px;
  line-height: 19px;
  color: #696965;
}

/* line 53, ../../app/assets/stylesheets/pages.css.scss */
a {
  color: #f6382c;
}

/* line 56, ../../app/assets/stylesheets/pages.css.scss */
a:hover {
  color: #cd1409;
}

/* line 59, ../../app/assets/stylesheets/pages.css.scss */
a.cite {
  display: inline-block;
  background: url("/images/off-site-link.png") no-repeat center center;
  padding-left: 10px;
  height: 9px;
  width: 9px;
}

/* line 66, ../../app/assets/stylesheets/pages.css.scss */
.container {
  padding: 34px;
  margin-top: 30px;
}

/* line 70, ../../app/assets/stylesheets/pages.css.scss */
.border {
  border-top: 5px solid #4f4f4c;
}

/* line 74, ../../app/assets/stylesheets/pages.css.scss */
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  background: #353533;
  padding: 0;
  border-top: none;
  margin-top: 0;
}

/* line 80, ../../app/assets/stylesheets/pages.css.scss */
.navbar .btn, .navbar .btn-group {
  margin: 0;
}

/* line 83, ../../app/assets/stylesheets/pages.css.scss */
.nav-collapse {
  margin-top: 40px;
}

/* line 86, ../../app/assets/stylesheets/pages.css.scss */
.navbar .nav {
  margin: 0;
}

/* line 89, ../../app/assets/stylesheets/pages.css.scss */
.navbar-fixed-top .navbar-inner {
  background: #353533;
  padding: 10px 10px 0 10px;
}

/* line 93, ../../app/assets/stylesheets/pages.css.scss */
.navbar .nav > li > a, .navbar .dropdown-menu a {
  font-family: "proxima-nova", helvetica, sans-serif;
  font-size: 15px;
  font-weight: 200;
  padding: 11px 12px 9px;
  border-radius: 0;
  letter-spacing: 0.1em;
  margin: 0px;
  text-transform: uppercase;
  background: #30302e;
  border-top: 1px solid #3f3f3d;
  border-bottom: 1px solid #1e1e1c;
}

/* line 106, ../../app/assets/stylesheets/pages.css.scss */
.navbar .nav > li > a:hover, .navbar .dropdown-menu a:hover {
  color: #b5b5b2;
  background: #282826;
  border-top: 1px solid #3f3f3d;
  border-bottom: 1px solid #1e1e1c;
}

/* line 112, ../../app/assets/stylesheets/pages.css.scss */
.navbar .nav > li.last {
  margin-bottom: 10px;
}

/* line 116, ../../app/assets/stylesheets/pages.css.scss */
.hero-unit {
  background: none;
  border-radius: 0;
  padding: 20px 160px 0;
  margin-bottom: 0;
}
/* line 121, ../../app/assets/stylesheets/pages.css.scss */
.hero-unit .logo {
  float: none;
  height: 129px;
  width: 129px;
  margin: 0 auto 20px;
  background: url("/images/logo.png") no-repeat center center;
}
/* line 128, ../../app/assets/stylesheets/pages.css.scss */
.hero-unit h1 {
  text-align: center;
  font-size: 41px;
  letter-spacing: 0;
  line-height: 34px;
  margin-bottom: 20px;
}
/* line 135, ../../app/assets/stylesheets/pages.css.scss */
.hero-unit h2 {
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 24px;
}

/* line 143, ../../app/assets/stylesheets/pages.css.scss */
.btn-danger {
  background-color: #f74a40;
  background-image: -moz-linear-gradient(top, #f74a40, #f52618);
  background-image: -ms-linear-gradient(top, #f74a40, #f52618);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f74a40), to(#f52618));
  background-image: -webkit-linear-gradient(top, #f74a40, #f52618);
  background-image: -o-linear-gradient(top, #f74a40, #f52618);
  background-image: linear-gradient(top, #f74a40, #f52618);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-brand-2', endColorstr='$color-brand-3', GradientType=0);
  border-color: #f52618 #f52618 #f52618;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/* line 157, ../../app/assets/stylesheets/pages.css.scss */
.btn-danger:hover {
  background-color: #db1609;
  background-image: -moz-linear-gradient(top, #db1609, #db1609);
  background-image: -ms-linear-gradient(top, #f75449, #db1609);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f75449), to(#db1609));
  background-image: -webkit-linear-gradient(top, #f75449, #db1609);
  background-image: -o-linear-gradient(top, #f75449, #db1609);
  background-image: linear-gradient(top, #f75449, #db1609);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-brand-2-hover', endColorstr='$color-brand-3-hover', GradientType=0);
  border-color: #db1609 #db1609 #db1609;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/* line 172, ../../app/assets/stylesheets/pages.css.scss */
.action {
  margin: 0px auto 80px;
  width: 320px;
}
/* line 175, ../../app/assets/stylesheets/pages.css.scss */
.action .btn {
  text-transform: uppercase;
  font-family: "proxima-nova", helvetica, sans-serif;
  letter-spacing: 0.1em;
}
/* line 180, ../../app/assets/stylesheets/pages.css.scss */
.action .btn-danger {
  float: left;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}
/* line 189, ../../app/assets/stylesheets/pages.css.scss */
.action .btn-signup {
  color: #6e9844;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
}

/* line 200, ../../app/assets/stylesheets/pages.css.scss */
.info {
  padding: 42px 46px;
}

/* line 203, ../../app/assets/stylesheets/pages.css.scss */
.info h3 {
  font-size: 17px;
  margin-left: 0px;
  margin-bottom: 10px;
}

/* line 208, ../../app/assets/stylesheets/pages.css.scss */
.info .btn {
  text-transform: uppercase;
  font-family: "proxima-nova", helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #6e9844;
}

/* line 215, ../../app/assets/stylesheets/pages.css.scss */
.info.os .btn {
  color: #f74a40;
}

/* line 220, ../../app/assets/stylesheets/pages.css.scss */
.row {
  margin-bottom: 12px;
}

/* line 224, ../../app/assets/stylesheets/pages.css.scss */
.line {
  border-top: 6px solid #d8e8cb;
  margin-bottom: 14px;
}

/* line 229, ../../app/assets/stylesheets/pages.css.scss */
.tour {
  margin-top: 30px;
  background: transparent url("/images/tour.png") no-repeat center top;
  height: 800px;
}
/* line 233, ../../app/assets/stylesheets/pages.css.scss */
.tour .line {
  border-top: 6px solid #d8e8cb;
  margin-bottom: 14px;
}
/* line 234, ../../app/assets/stylesheets/pages.css.scss */
.tour h3 {
  font-size: 23px;
  margin-bottom: 4px;
}
/* line 235, ../../app/assets/stylesheets/pages.css.scss */
.tour p {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.4em;
}
/* line 236, ../../app/assets/stylesheets/pages.css.scss */
.tour .left {
  float: left;
  width: 145px;
  text-align: right;
}
/* line 237, ../../app/assets/stylesheets/pages.css.scss */
.tour .right {
  float: right;
  width: 145px;
}
/* line 239, ../../app/assets/stylesheets/pages.css.scss */
.tour .first, .tour .second, .tour .third, .tour .fourth, .tour .fifth, .tour .sixth, .tour .total {
  position: absolute;
  width: 150px;
}
/* line 240, ../../app/assets/stylesheets/pages.css.scss */
.tour .first {
  margin: 50px 0px 0px;
}
/* line 241, ../../app/assets/stylesheets/pages.css.scss */
.tour .second {
  margin: 270px 0px 0px;
}
/* line 242, ../../app/assets/stylesheets/pages.css.scss */
.tour .third {
  margin: 460px 0px 0px;
}
/* line 243, ../../app/assets/stylesheets/pages.css.scss */
.tour .fourth {
  margin: 50px 0px 0px;
}
/* line 244, ../../app/assets/stylesheets/pages.css.scss */
.tour .fifth {
  margin: 235px 0px 0px;
}
/* line 245, ../../app/assets/stylesheets/pages.css.scss */
.tour .sixth {
  margin: 464px 0px 0px;
}

/* line 248, ../../app/assets/stylesheets/pages.css.scss */
.tour-text {
  display: none;
  margin-top: 20px;
}
/* line 251, ../../app/assets/stylesheets/pages.css.scss */
.tour-text .legend {
  float: left;
  font-family: "adelle", helvetica, sans-serif;
  font-size: 18px;
  margin-top: -30px;
  padding: 4px 8px 4px 0;
  background: #fff;
}
/* line 259, ../../app/assets/stylesheets/pages.css.scss */
.tour-text .span2 {
  margin-bottom: 30px;
  font-weight: 200;
}

/* line 265, ../../app/assets/stylesheets/pages.css.scss */
.quote {
  margin: 0px auto;
  padding: 20px 0;
  text-align: center;
  width: 70%;
}

/* line 271, ../../app/assets/stylesheets/pages.css.scss */
.quote .well {
  padding: 26px 19px 16px;
  margin-bottom: 60px;
}

/* line 275, ../../app/assets/stylesheets/pages.css.scss */
.quote h2 {
  margin-bottom: 10px;
  line-height: 30px;
}

/* line 279, ../../app/assets/stylesheets/pages.css.scss */
.quote p {
  line-height: 22px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
}

@media (max-width: 768px) {
  /* line 299, ../../app/assets/stylesheets/pages.css.scss */
  .hero-unit {
    padding: 0 0 20px;
  }
  /* line 300, ../../app/assets/stylesheets/pages.css.scss */
  .hero-unit .logo {
    float: none;
    margin: 0 auto 20px;
  }
  /* line 301, ../../app/assets/stylesheets/pages.css.scss */
  .hero-unit h1 {
    font-size: 34px;
    letter-spacing: 0;
    line-height: 34px;
    margin: 2px 20px 14px;
  }
  /* line 302, ../../app/assets/stylesheets/pages.css.scss */
  .hero-unit h2 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0px;
  }

  /* line 304, ../../app/assets/stylesheets/pages.css.scss */
  .tour {
    display: none;
  }

  /* line 305, ../../app/assets/stylesheets/pages.css.scss */
  .tour-text {
    display: inherit;
  }

  /* line 306, ../../app/assets/stylesheets/pages.css.scss */
  .info {
    padding: 30px;
    margin-bottom: 20px;
    background-image: none !important;
  }

  /* line 307, ../../app/assets/stylesheets/pages.css.scss */
  .info h3 {
    font-size: 16px;
  }

  /* line 308, ../../app/assets/stylesheets/pages.css.scss */
  .quote {
    width: 100%;
  }

  /* line 309, ../../app/assets/stylesheets/pages.css.scss */
  body {
    background: white url("/images/mascot.png") no-repeat center 102%;
  }

  /* line 310, ../../app/assets/stylesheets/pages.css.scss */
  .action {
    width: 280px;
  }

  /* line 311, ../../app/assets/stylesheets/pages.css.scss */
  .action .btn {
    font-size: 14px;
    letter-spacing: 0;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  /* line 319, ../../app/assets/stylesheets/pages.css.scss */
  .hero-unit {
    padding: 20px 60px 0;
  }
  /* line 320, ../../app/assets/stylesheets/pages.css.scss */
  .hero-unit h1 {
    font-size: 40px;
    letter-spacing: 0;
  }
  /* line 321, ../../app/assets/stylesheets/pages.css.scss */
  .hero-unit h2 {
    font-size: 25px;
  }

  /* line 323, ../../app/assets/stylesheets/pages.css.scss */
  .tour {
    background-size: 50%;
    height: 520px;
  }
  /* line 326, ../../app/assets/stylesheets/pages.css.scss */
  .tour .line {
    border-top: 6px solid #d8e8cb;
    margin-bottom: 12px;
  }
  /* line 327, ../../app/assets/stylesheets/pages.css.scss */
  .tour h3 {
    font-size: 18px;
    margin-bottom: 2px;
  }
  /* line 328, ../../app/assets/stylesheets/pages.css.scss */
  .tour p {
    font-size: 14px;
    line-height: 1.4em;
  }
  /* line 329, ../../app/assets/stylesheets/pages.css.scss */
  .tour .left {
    float: left;
    width: 145px;
    text-align: right;
  }
  /* line 330, ../../app/assets/stylesheets/pages.css.scss */
  .tour .right {
    float: right;
    width: 145px;
  }
  /* line 332, ../../app/assets/stylesheets/pages.css.scss */
  .tour .first, .tour .second, .tour .third, .tour .fourth, .tour .fifth, .tour .sixth, .tour .total {
    position: absolute;
    width: 150px;
  }
  /* line 333, ../../app/assets/stylesheets/pages.css.scss */
  .tour .first {
    margin: 20px 0px 0px;
  }
  /* line 334, ../../app/assets/stylesheets/pages.css.scss */
  .tour .second {
    margin: 170px 0px 0px;
  }
  /* line 335, ../../app/assets/stylesheets/pages.css.scss */
  .tour .third {
    margin: 300px 0px 0px;
  }
  /* line 336, ../../app/assets/stylesheets/pages.css.scss */
  .tour .fourth {
    margin: 20px 0px 0px;
  }
  /* line 337, ../../app/assets/stylesheets/pages.css.scss */
  .tour .fifth {
    margin: 155px 0px 0px;
  }
  /* line 338, ../../app/assets/stylesheets/pages.css.scss */
  .tour .sixth {
    margin: 322px 0px 0px;
  }
}
