
<!DOCTYPE html>
<html>
  <head>
    <title>Lowdown</title>
    <link href="homepage/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
    <link href="homepage/responsive.css" media="all" rel="stylesheet" type="text/css" />
    <link href="homepage/media.css" media="all" rel="stylesheet" type="text/css" />
    <link href="homepage/pages.css" media="all" rel="stylesheet" type="text/css" />
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
    <script src='/javascripts/bootstrap-collapse.js' type='text/javascript'></script>
    <script type="text/javascript" src="http://use.typekit.com/yhn5shm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="Ag0Ha+aatAmHQwU5jSqiNU6RLNdbM9JAV67hMO/eGlk=" name="csrf-token" />
  </head>
  <body>
    <div class='navbar navbar-fixed-top hidden-tablet hidden-desktop'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </a>
          <div class='nav-collapse'>
            <ul class='nav'>
              <li>
                <a href='/signup'>Create a Free Account</a>
              </li>
              <li class='last'>
                <a href='/login'>Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='inner'>
        <div class='hero-unit'>
          <h1>Make something useful.</h1>
          <h2>
            Lowdown helps software development teams focus on <i>what</i> they should build, <i>when</i> they should do it, and <i>why</i> they should bother doing it at all.
          </h2>
        </div>
        <div class='action'>
          <a class='btn btn-danger btn-large' href='/signup'>Create a free account</a>
          <a class='btn btn-signup btn-large' href='/login'>Login</a>
        </div>
        <div class='clearfix'></div>
        <div class='tour'>
          <div class='left'>
            <div class='first'>
              <div class='line'></div>
              <h3>Prioritize</h3>
              <p>Drag features and milestones to re-order development or adjust iteration hours.</p>
            </div>
            <div class='second'>
              <div class='line'></div>
              <h3>Edit Features</h3>
              <p>Collaborate on features stories with the entire team.</p>
            </div>
            <div class='third'>
              <div class='line'></div>
              <h3>Edit Steps</h3>
              <p>Breakdown features into scenarios and individual steps in order to focus behavior towards business value.</p>
            </div>
          </div>
          <div class='right'>
            <div class='fourth'>
              <div class='line'></div>
              <h3>Folders</h3>
              <p>Organize stories into releases or iterations using folders.</p>
            </div>
            <div class='fifth'>
              <div class='line'></div>
              <h3>Plan</h3>
              <p>Use milestones to organize into iterations. Totals give insight into estimated time and cost.</p>
            </div>
            <div class='sixth'>
              <div class='line'></div>
              <h3>Estimate</h3>
              <p>Use the time/cost estimate to help you prioritize your features against a real and finite budget.</p>
            </div>
          </div>
          <div class='clear'></div>
        </div>
        <div class='clearfix'></div>
        <div class='tour-text'>
          <div class='row'>
            <div class='span2'>
              <div class='line'></div>
              <div class='legend'>Prioritize</div>
              <p>Drag features and milestones to re-order development or adjust iteration hours.</p>
            </div>
            <div class='clearfix'></div>
            <div class='span2'>
              <div class='line'></div>
              <div class='legend'>Edit Features</div>
              <p>Collaborate on features stories with the entire team.</p>
            </div>
            <div class='clearfix'></div>
            <div class='span2'>
              <div class='line'></div>
              <div class='legend'>Edit Steps</div>
              <p>Breakdown features into scenarios and individual steps in order to focus behavior towards business value.</p>
            </div>
            <div class='clearfix'></div>
            <div class='span2'>
              <div class='line'></div>
              <div class='legend'>Export</div>
              <p>Export gives you a separate file for each feature so you can start testing in your repository.</p>
            </div>
            <div class='clearfix'></div>
            <div class='span2'>
              <div class='line'></div>
              <div class='legend'>Plan</div>
              <p>Use milestones to organize into iterations. Totals give insight into estimated time and cost.</p>
            </div>
            <div class='clearfix'></div>
            <div class='span2'>
              <div class='line'></div>
              <div class='legend'>Estimate</div>
              <p>Use the time/cost estimate to help you prioritize your features against a real and finite budget.</p>
            </div>
            <div class='clearfix'></div>
          </div>
          <div class='clear'></div>
        </div>
        <div class='row'>
          <div class='span6'>
            <div class="well info os">
              <h3>
              Lowdown is 100% free with unlimited projects and unlimited collaborators, but is not necessarily supported outside of the latest version of Chrome. Lowdown is also opensource and available on <a href="https://github.com/databasically/lowdown">Github</a>.
              </h3>
              <a class="btn" href="https://github.com/databasically/lowdown"> databasically/lowdown</a>
              </div>
          </div>
          <div class='span6'>
            <div class='well info'>
              <h3>
                Lowdown uses Cucumber. Cucumber lets software development teams describe how software should behave in plain text. The text is written in a business-readable domain-specific language.
              </h3>
              <a class='btn' href='http://cukes.info/'>More about Cucumber</a>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='span12'>
            <div class='quote'>
              <h2>
                Lowdown aims to support
                <a href='http://behaviour-driven.org/BehaviourDrivenDevelopment'>Behaviour-Driven Development.</a>
              </h2>
              <p>
                "This approach acts as a brake on the tendencies of technologists to get carried away in their enthusiasm for the technology and on the business from getting carried away with dreams of their ideal system. It makes it clear to both groups that software is an expensive thing, and that trade-offs usually need to be made in the real world, thus mitigating the temptation of software users to ask for a Rolls-Royce solution, when all they really need is a motor-scooter and for software developers to try and build an aircraft carrier when all that the users need is a row-boat!"
                <a class='cite' href='http://behaviour-driven.org/WheresTheBusinessValue'></a>
              </p>
            </div>
            <div class='quote'>
              <div class='well'>
                <p>
                  Built by
                  <a href='https://twitter.com/paulducoudray'>@paulducoudray</a>
                  <a href='https://twitter.com/seancribbs'>@seancribbs</a>
                  <a href='https://twitter.com/wesgarrison'>@wesgarrison</a>
                  <a href='https://twitter.com/scottymoon'>@scottymoon.</a>
                  Design by
                  <a href='http://readymade.is'>Readymade.</a>
                </p>
                <p>
                  Maintained by
                  <a href='https://twitter.com/scottymoon'>@scottymoon</a>
                  <a href='https://twitter.com/thmzlt'>@thmzlt</a>
                  <a href='https://twitter.com/databasically'>@databasically</a>
                  <a href='https://twitter.com/wesgarrison'>@wesgarrison.</a>
                </p>
                <p>
                  For support please contact via
                  <a href='mailto:lowdown-support@databasically.com'>email.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
