#open_id
  #open_id_header
    Sign in with OpenID using
    %a{:href => "https://www.myopenid.com/signup", :target =>"_blank", :class => "positive center"}
      Get an OpenID
      
  .clear
  #providers
    %a{:href => "http://openid.railsrumble.com/username"}
      %img{:src => "/images/openid/railsrumble.ico"}
      Rails Rumble
    %a{:href => "http://username.myopenid.com/"}
      %img{:src => "/images/openid/myopenid.ico"}
      myOpenID
    %a{:href => "https://www.google.com/accounts/o8/id"}
      %img{:src => "/images/openid/google.ico"}
      Google
    %a{:href => "http://www.flickr.com/"}
      %img{:src => "/images/openid/flickr.ico"}
      Flickr
    %a{:href => "http://yahoo.com/"}
      %img{:src => "/images/openid/yahoo.ico"}
      Yahoo!
    %a{:href => "http://openid.aol.com/username"}
      %img{:src => "/images/openid/aol.ico"}
      AOL
    %a{:href => "http://username.blogspot.com/"}
      %img{:src => "/images/openid/blogger.ico"}
      Blogger
    %a{:href => "http://username.livejournal.com/"}
      %img{:src => "/images/openid/lj.ico"}
      Livejournal
    %a{:href => "http://username.pip.verisignlabs.com/"}
      %img{:src => "/images/openid/verisign.ico"}
      Verisign
    %a{:href => "http://username.myvidoop.com/"}
      %img{:src => "/images/openid/vidoop2.ico"}
      Vidoop
    %a{:href => "http://claimid.com/username"}
      %img{:src => "/images/openid/claimid.ico"}
      claimID
    %a{:href => "http://technorati.com/people/technorati/username"}
      %img{:src => "/images/openid/technorati.ico"}
      Technorati
    %div.clear